<h3><%= @githubuser.username %></h3>

<div class="image">
  <%= image_tag(@githubuser.avatar_url) %>
</div>

<h3>You have <%= @starred_repos.count %> starred repo</h3>

<%= link_to 'followers', followers_path %>
<%= link_to 'following', following_path %>
<%= link_to 'See Recent Commits', commits_path %>
